<?xml version="1.0"?>
<launch>
  <arg name="server" default="192.168.1.2" />
  <arg name="node_name" default="drone" />

  <!-- run vrpn -->
  <node pkg="vrpn_client_ros" name="vrpn_client_node" output="screen" type="vrpn_client_node">
    <rosparam subst_value="true">
      server: $(arg server)
      port: 3883
      update_frequency: 100.0
      frame_id: world
      use_server_time: false
      broadcast_tf: true
      refresh_tracker_frequency: 1.0
    </rosparam>
  </node>
  
  <node pkg="mavros" name="mavros" output="screen" type="mavros_node">
    <rosparam subst_value="true">
      fcu_url: "udp://:14650@"
      gcs_url: "udp://@127.0.0.1:14550"
    </rosparam>
  </node>
  
  <node name="$(arg node_name)" pkg="quadcopter" type="fakeGPS_node" output="screen">
    <rosparam file="/home/pi/CyPyHous3/config.yml" command="load" />
  </node>

</launch>
