<launch>
    <arg name="deca_port" default="/dev/ttyACM0" />
    <arg name="robot_type" default="quadcopter" />
    <node name="positioning" pkg= "decawave" type="decaPos_node" output="screen">
        <param name="deca_port" value="$(arg deca_port)" />
        <param name="robot_type" value="$(arg robot_type)" />
    </node>
</launch>
